@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Silkscreen&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  text-align: center;
}

.nav {
  font-family: "Silkscreen", cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

#stats::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

#stats::-webkit-scrollbar {
  width: 0px;
}

#stats::-webkit-scrollbar-track {
  background: transparent;
}

#stats::-webkit-scrollbar-thumb {
  background: transparent;
}

#stats::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.setup {
  object-position: 20% 65%;
}
